body{
  width: 100%;
}
.sim{
  background: url('./Component/off50.jpg');
  height: 300px;
  background-size: cover;

}
.off{
  background: url('./Component/40.jpg');
  height: 300px;
  background-size: cover;

}
.offf{
  background: url('./Component/20.png');
  height: 300px;
  background-size: cover;
 
}


@media screen and (min-width: 280px) {
  .set{
    width: 100%;
  }
 
  .sett{
    width: 80%;
  }
}